#############
## Python
#############
*.py[cod]

# Translations
*.mo

# Emacs autosave files
\#*#
*~

# Windows batch files
*.bat

# usually perl -pi.back -e edits.
*.back
*.bak

# pycharm project specific settings files
.idea

cleanup.sh
FanFictionDownLoader.zip
*.epub
*Thumbs.db
FanFicFare.zip
output
build
dist
FanFicFare.egg-info
personal.ini
appcfg_oauth2_tokens
venv/
